<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ChatIO⚡</title>
</head>

<body>
    <div class="join-container">
        <header class="join-header">
            <h1>ChatIO⚡</h1>
        </header>
        <main class="join-main">
            <form action="/chat" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder=" Enter username..." required />
                </div>
                <div class="form-control">
                    <label for="room">Room</label>
                    <select name="room" id="room" required>
                        <option value="NodeJS">NodeJS</option>
                        <option value="MongoDB">MongoDB</option>
                        <option value="C++">C++</option>
                        <option value="Python">Python</option>
                        <option value="HTML/CSS">HTML/CSS</option>
                        <option value="Misc">Misc</option>
                    </select>
                    <h3 id="or">------- <span>OR</span> -------</h3>
                    <label for="room">Custom Room</label>
                    <input type="text" id="custom-room" name="room" placeholder=" Custom room name...">
                </div>
                <button type="submit" class="btn">Join Chat</button>
            </form>
        </main>
    </div>
    <script>
        const customRoomInput = document.getElementById("custom-room")
        // Input event listener for custom room
        customRoomInput.addEventListener('input', (e) => {
            const customRoomName = e.target.value
            if (customRoomName.length > 0)
                document.getElementById("room").disabled = true
            else
                document.getElementById("room").disabled = false
        })
    </script>
</body>

</html>